.list-unstyled {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  break-after: avoid;
  margin: 0.3em 0;
  & + br {
    break-after: avoid;
  }
}

dl {
  margin: 0.25em 0;
}
dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.list-inline {
  list-style: none;
  display: inline-block;
  .list-inline-item {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
.entityCard {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  column-count: 2;
  column-gap: normal;
  column-width: auto;
  column-fill: auto;
  min-height: 50px;
  margin: 0;
  padding: 0;
  & > .bg img{
    position: absolute;
    right: 5%;
    width: 2in;
    top: 14%;
    opacity: 0.15;
    // background-image: url(/img/pic.jpg);
  }
  & > .header {
    // column-span: all;
    font-size: 1.3em;
    .description {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: .7rem;
      font-style: italic;
      li {
        display: inline;
      }
      .name {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        font-style: normal;
      }
    }
    .exp {
      display: inline-block;
      // list-style: none;
      float:right;
      .cr {
        font-size: .9rem;
      }
      .value {
        font-size: .8rem;
        font-style: italic;
      }
    }
  }
  & > .attributes {
    font-size: 0.8rem;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      li {
        list-style: none;
        display: inline-block;
        text-align: center;
        width: 15%
      }
    }
  }
  & > .stats {
    font-size: 0.8rem;
    break-inside: avoid;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    dl,dt,dd {
      display: inline;
      font-weight: normal;
    }
    dd + dd::before, dd + dt::before {
      content: ", ";
    }
  }
  & > .traits, & > .actions, & > .legendaries {
    font-size: 0.8rem;
    dl {
      margin-bottom: 0.25rem;
    }
    dt,dd {
      display: inline;
    }
  }
  .spells {
    dd + dd::before{
      content: ", ";
    }
    dd + dt::before {
      display: block;
    	content: "\A";
    }
  }
  & > * {
    // background-color: $secondary;
    margin-top: 5px;
    &:not(.header) {

    }
  }
}

@media print {

  .noprint {
    display: none;
  }

  @page {
    size:  5in 3in;
    margin: 0.125in ;
    font-size: 12px;

    // background-color: $primary
  }
  html, body {
    font-size: 11px;
  }
  .entityCard {
    page-break-after: always;
    display: block;
    // padding: 0.2in;
    // background-color: black;
    // & > * {
    //   page-break-inside: avoid;
    // }
  }

}
